<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <title>CovidMap</title>
</head>

<body>
    <div class="navbar">
        <div class="buttons">
            <button>This is a button</button>
        </div>
        <h1><a href="{{ url_for('index') }}" class="navlink">CovidMap</a></h1>
        <div class="buttons">
            <button>More buttons here</button>
        </div>
    </div>
    <div class="container">
        <div class="newswire-flex">
            <div class="sidebar-box">
                <h2>Newswire</h2>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
            </div>
            <div class="mapgraph-flex">
                <div class="sidebar-box">
                    <div class="graph-box">
  <div class="graph-outer" id="mapid"></div> <!--This is the map-->
  <p class="graph-title"><span class="graph-title-span">Map title here</span></p>
</div>
                </div>
                <div class="sidebar-box">
                    <h2>Graph here</h2>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer-sep">
    <div class="footer">
        <p>Made by CovidMap team</p>
        <p>Copyright 2020</p>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>