<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <title>CovidMap</title>
</head>

<body>
    <div class="navbar">
        <div class="buttons">
            <p>Buttons here</p>
        </div>
        <h1>CovidMap</h1>
        <div class="buttons">
            <p>More buttons here</p>
        </div>
    </div>
    <div class="container">
        <div class="newswire-flex">
            <div class="sidebar-box">
                <h2>Newswire</h2>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
                <div class="newslet"></div>
            </div>
            <div class="mapgraph-flex">
                <div class="sidebar-box">
                    <h2>Map here</h2>
                </div>
                <div class="sidebar-box">
                    <h2>Graph here</h2>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer-sep">
    <div class="footer">
        <p>Made by CovidMap team</p>
        <p>Copyright 2020</p>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>